<style>
  .card {
    margin-left: 500px;
    margin-top: 100px;
  }
    body {
  background: #f1f1f1;
 /* margin: 2rem;*/
}
.nav-link {
    color: #979c9c;
  }
</style>
<ul class="nav nav-tabs" style="background-color: #1b1c1c;">
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:3000">Home</a>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:3000/articles">My Articles</a>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "My Profile", edit_user_registration_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
    </li>
  <% end %>
</ul>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>
