<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <style>
</style>
  </head>

  <body>
    <link rel=stylesheet href="stylesheets/all.css">
    <link rel=stylesheet href="stylesheets/style.css">
    <link rel=stylesheet href="stylesheets/slick.min.css">
    <link rel=stylesheet href="stylesheets/animate.css">

  <%= yield %>
  </div>
</div>
  </body>
</html>
